<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<title>Heti'Cal / Sign In </title>
	<meta name="description" content="">
  <base href="<?php echo $BASE; ?>/" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>   
    <form action="event/new" id="addEvent" method="POST">
      <input type="text" name="title" placeholder="title" />
      <textarea placeholder="description"></textarea>
      <input type="text" name="speaker" placeholder="speaker"  />
      <input type="text" name="creator" placeholder="creator"  />
      <input type="text" name="room" placeholder="room"  />
      <input type="date" name="date" />
      <input type="time" name="hour" />
      <input type="text" name="promo" placeholder="promo" />
      <input type="text" name="priority" placeholder="priority"  />
      <input type="submit" value="Add">
    </form>
</body>
</html>