 <!DOCTYPE html>

  <html lang="fr">
  <head>
  	<meta charset="UTF-8" />
  	<title>Heti'Cal</title> 
  	<meta name="description" content="">
  	<meta name="robots" content="noindex, nofollow">
  	<meta content="IE-edge" http-equiv="X-UA-Compatible">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<!--[if lt IE 9]>
  	  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	  <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  	<![endif]-->

  	<link rel="icon" href="public/uploads/favicon.ico" />

  	<!-- STYLESHEETS -->  
  	<link href="public/css/reset.css" rel="stylesheet" type="text/css" /> 
  	<link href="public/css/global.css" rel="stylesheet" type="text/css" />
  	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
      <!-- /STYLESHEETS -->
  </head>
  <body>
  	<section class="leftContent">
  		<header>
  			<img src="public/uploads/pp.jpg" alt="pp" class="profilPic">
  				<a href="#" class="settings"><h1><?php echo $SESSION['firstname'] . " " . $SESSION['lastname']; ?></h1>
  				<h2><?php echo $SESSION['promo'] . " G" . $SESSION['group'] . $SESSION['subgroup']; ?></h2></a>
  		</header>
  		<nav>
  			<ul>
  				<li>
  					<a href="#">Flux</a>
  					<div class="toggle">
  						<ul class="flux">
                <?php if(isset($events) && isset($users)) : 
                  foreach (array_slice($events, 0, 5) as $event) :
                    if($event->promo == $SESSION['promo']) : ?>
        							<li>
        								<?php foreach($users as $user) : ?>
                          <?php if($event->creator == $user->id) : ?>
                          <h1><?php echo $user->firstname . " " . $user->lastname;?> à créé</h1>
                          <?php endif; ?>
                        <?php endforeach; ?>
        								<q>« <?php echo $event->title; ?> »</q>
        								<p>
                          <?php echo date("l d", strtotime($event->date)) . " à "; 
                          if($event->hour == 1) echo "13h";
                          elseif($event->hour == 2) echo "18h"; ?>
                        </p>
        							</li>
                    <?php endif;
                  endforeach; 
                endif; ?>
  						</ul>
  					</div>
  				</li>
  				<li>
  					<a href="#">Créer un événement</a>
  					<div class="toggle">
  					    <div class="event">
  					        <form method="post" action="event/add">
  					            <p>
                            <input type="text" name="title" id="title" placeholder="Nom de l'événement"/>
                            
                            <input style="display:none;" type="text" name="creator" value="<?php echo $SESSION['id']; ?>" />
                            
                            <input type="text" name="room" id="room" placeholder="Salle"/>
                            
  					                <input type="date" name="date" id="date"/>
                            
                            <select name="hour">
                                <option value="1">13h</option>
                                <option value="2">18h</option>
                            </select>
                            
                            <select name="promo">
                              <?php if(isset($promos)) :
                                foreach($promos as $promo) : ?>
                                  <option value="<?php echo $promo->name; ?>"><?php echo $promo->name; ?></option>
                                <?php endforeach;
                              endif; ?>
                            </select>
                            
                            <select name="priority">
                              <option value="1">Obligatoire</option>
                              <option value="2">Optionnel</option>
                            </select>

  					                <input type="submit" value="+" />
  					            </p>
  					        </form>
  					    </div>
  					</div>
  				</li>
  				<li>
  					<a href="#">Synchronisation</a>
  					<div class="toggle">
  						<div class="sync">
  							<p>Tu peux garder ton planning à jour en le synchronisant automatiquement à ton calendrier Google</p>
  							<a href="#">Sign in with Google</a>
  						</div>
  					</div>
  				</li>
  			</ul>
  		</nav>
  		<footer>
  			<div id="weather"></div>
  			<time></time>
  		</footer>
  	</section>
    <section class="rightContent">
    <?php $i=0; $timenumber=0; $created; if(isset($program)) : 
      foreach($program as $days) : ?>
      <ul>
        <?php foreach($days as $time) : 
          $i++;?>
          <!-- Si on est au bon endroit dans la journée (13H) -->
          <?php if($i==4) : ?>
            <!-- S'il y'a des évents à afficher -->
            <?php if(isset($events) && isset($events[0])) : ?>
              <!-- Pour chaque Event -->
              <?php $created = false; foreach($events as $event) : ?>
                <!-- Si cet évent est à 13h -->
                <?php if($event->hour == 1) : ?>
                  <!-- Si cet évent a lieu le bon jour -->
                  <?php if(date("d", strtotime($event->date)) == $timenumber) : $created=true;?>
                    <li class="active">
                      <time>13h</time>
                      <div class="info">
                        <h3>
                        <?php echo $event->title; ?>
                        </h3>
                        <h4>
                          <?php if(isset($users)) : ?>
                            <?php foreach($users as $user) : ?>
                              <?php if($user->id == $event->creator) : ?>
                                <?php echo $user->firstname . " " . $user->lastname;?>
                              <?php endif; ?>
                            <?php endforeach; ?>
                          <?php endif;?>
                        </h4>
                        <span class="room">
                          <?php echo $event->room;?>
                        </span>
                        <a href="#" class="edit">Edit</a>
                      </div>
                    </li>
                  <!-- Si la date n'est pas bonne, et qu'aucun évent n'a été créé à cet heure là, ce jour là -->
                  <?php endif; ?>
                <?php endif; ?>
              <?php endforeach; ?>
              <?php if(!$created) : $created = true; ?>
                <li></li>
              <?php endif; ?> 
            <!-- S'il n'y a aucun évent -->
            <?php elseif(!isset($events[0])) : ?>
              <li></li>
            <?php endif; ?>
          <?php endif; ?>
          <?php if(isset($time['name']) && isset($time['number'])) : $timenumber = $time['number'];?>
            <li class="<?php echo strtolower($time['name']);?>"><?php echo $time['name'] . " " . $time['number'];?></li>
          <?php elseif(isset($time['G'.$SESSION['group']][$SESSION['subgroup']]['course'])) : ?>
            <li class="active">
              <time>
                <?php echo $time['G'.$SESSION['group']][$SESSION['subgroup']]['start']; ?>
              </time>
              <div class="info">
                <h3>
                  <?php echo $time['G'.$SESSION['group']][$SESSION['subgroup']]['course']; ?>
                </h3>
                <h4>
                  <?php echo $time['G'.$SESSION['group']][$SESSION['subgroup']]['speaker']; ?>
                </h4>
              </div>
              <span class="room">
                <?php echo $time['G'.$SESSION['group']]['room']; ?>
              </span>
              <time>
                <?php echo $time['G'.$SESSION['group']][$SESSION['subgroup']]['end']; ?>
              </time>
            </li>
          <?php else : ?>
            <li></li>
          <?php endif;?>
          <?php if($i==5) : ?>
            <!-- S'il y'a des évents à afficher -->
            <?php if(isset($events) && isset($events[0])) : ?>
              <!-- Pour chaque Event -->
              <?php $created = false; foreach($events as $event) : ?>
                <!-- Si cet évent est à 18h -->
                <?php if($event->hour == 2) : ?>
                  <!-- Si cet évent a lieu le bon jour -->
                  <?php if(date("d", strtotime($event->date)) == $timenumber) : $created=true;?>
                    <li class="active">
                      <time>18h</time>
                      <div class="info">
                        <h3>
                        <?php echo $event->title; ?>
                        </h3>
                        <h4>
                          <?php if(isset($users)) : ?>
                            <?php foreach($users as $user) : ?>
                              <?php if($user->id == $event->creator) : ?>
                                <?php echo $user->firstname . " " . $user->lastname;?>
                              <?php endif; ?>
                            <?php endforeach; ?>
                          <?php endif;?>
                        </h4>
                        <span class="room">
                          <?php echo $event->room;?>
                        </span>
                      </div>
                    </li>
                  <!-- Si la date n'est pas bonne, et qu'aucun évent n'a été créé à cet heure là, ce jour là -->
                  <?php endif; ?>
                <?php endif; ?>
              <?php endforeach; ?>
              <?php if(!$created) : $created = true; ?>
                <li></li>
              <?php endif; ?> 
            <!-- S'il n'y a aucun évent -->
            <?php elseif(!isset($events[0])) : ?>
              <li></li>
            <?php endif; ?>
          <?php endif; ?>
        <?php endforeach; $i=0;?>
      </ul>
      <?php endforeach;?>
    <?php endif;?>
      <h2>Semaine</h2>
    </section>
    <section id="popin" class="close">
      <div class="popinBloc">
        <a href="#" class="close">Fermer</a>
        <div id="edit"></div>
      </div>
    </section>
	
  <!-- SCRIPTS -->
  <script src="public/js/libraries/jquery-1.11.0.min.js"></script>
  <script src="public/js/libraries/jquery.simpleWeather.js"></script>
  <script src="public/js/global.js"></script>
  <script src="public/js/script.js"></script>
  <!-- /SCRIPTS -->
    
</body>
</html>