<?php if($event->creator == $SESSION['id']) : ?>
<form action="event/<?php echo $event->id;?>" id="editEvent" method="POST">
  <input type="text" name="title" value="<?php echo $event->title;?>" />
  <input type="text" style="display: none;" name="creator" value="<?php echo $event->creator;?>" />
  <input type="text" name="room" value="<?php echo $event->room;?>" />
  <input type="date" name="date" value="<?php echo $event->date;?>" />
  <select name="hour">
      <option value="1" <?php if($event->hour == 1) : ?> selected <?php endif;?> >13h</option>
      <option value="2" <?php if($event->hour == 2) : ?> selected <?php endif;?> >18h</option>
  </select>
  <select name="promo">
    <?php if(isset($promos)) :
      foreach($promos as $promo) : 
        if($event->promo == $promo->name) : ?>
          <option value="<?php echo $promo->name; ?>" selected><?php echo $promo->name; ?></option>
        <?php else : ?>
          <option value="<?php echo $promo->name; ?>"><?php echo $promo->name; ?></option>
        <?php endif;?>
      <?php endforeach;
    endif; ?>
  </select>
  <select name="priority">
    <option value="1" <?php if($event->priority == 1) : ?> selected <?php endif;?> >Obligatoire</option>
    <option value="2" <?php if($event->priority == 2) : ?> selected <?php endif;?> >Optionnel</option>
  </select>
  <input type="submit" name="edit" value="Editer">
  <input type="submit" name="delete" value="Supprimer">
</form>
<?php endif; ?>